.page-header {
	font-family: 'Kaushan Script';
	background-color: #0099CC;
	margin-top:0px;
	overflow-y: hidden;
	padding: 20px 20px 20px 15px;
}

.page-header h1{
    color: #ffffff;
    font-size: 46pt;
}

.listing {
    padding-left: 15px;
	font-size: 14pt;
}

.listing h2 {
	font-size: 32pt;
}

.button {
	padding-left: 15px;
}