{% load staticfiles %}
<html>
    <head>
        <title>TextBooky Listing Details</title>
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
		<link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href={% static "css/listing_detail.css" %}>
    </head>
	
    <body>
		<div class="page-header">
			<h1>Textbooky - Listing Details</h1>
		</div>

		{% block content %}
			<div class="listing">
				<h2>{{ listing.title }}</h2>
				<p>ISBN: {{ listing.isbn }} <br>
				Author: {{ listing.author }} <br>
				Edition: {{ listing.edition }} <br>
				Location: {{ listing.location }} <br>
				Price: ${{ listing.price }} <br>
				Condition: {{ listing.condition }} <br>
				Seller Comments: {{ listing.comments }} </p>
				Expiration Date: {{ listing.expirationdate }}
			</div>
		{% endblock %}
	</body>
</html>