{% load staticfiles %}
<html>
    <head>
        <title>TextBooky Listing Details</title>
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
		<link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href={% static "css/listing_detail.css" %}>
    </head>
	
    <body>
		<div class="page-header">
			<h1>Textbooky - Listing Details</h1>
		</div>
		
		{% block content %}
			<div class="listing">
				<h2>{{ listing.title }}</h2>
				<p>ISBN: {{ listing.isbn }} <br>
				Author: {{ listing.author }} <br>
				Edition: {{ listing.edition }} <br>
				Location: ({{ listing.latitude }}, {{ listing.longitude}})<br>
				Price: ${{ listing.price }} <br>
				
				{% if listing.condition == 0 %}
                    Condition: Poor<br>
                {% elif listing.condition == 1 %}
                    Condition: Fair<br>
				{% elif listing.condition == 2 %}
					Condition: Good<br>
				{% elif listing.condition == 3 %}
					Condition: Very Good<br>
				{% elif listing.condition == 4 %}
					Condition: New<br>
                {% else %}
                    Condition: None<br>
                {% endif %}
				
				Seller Comments: {{ listing.comments }} </p>
				Posted On: {{ listing.postdate }} <br>
				Expiration Date: {{ listing.expirationdate }}
			</div>
		{% endblock %}
	</body>
</html>